
@import "node_modules/bulma/sass/utilities/initial-variables"
@import "node_modules/bulma/sass/utilities/functions"

$primary: #8bc34a;
$primary-invert: findColorInvert($primary);

@import "node_modules/bulma/sass/utilities/derived-variables"

$radius-small: 0px
$radius: 0px
$radius-large: 0px

//$secondary: #2879b4;
$secondary: #ef5350;
$secondary-invert: findColorInvert($secondary);

$addColors: ( "secondary": ($secondary, $secondary-invert) );
$colors: map-merge($colors, $addColors);

$gap: 256px;

$family-primary: Roboto, Sans-Serif;
$body-size: 14pt;

@import "node_modules/bulma/bulma"
@import "node_modules/bulma-timeline/bulma-timeline"

.tile
  border: 1px solid #DDD;
  min-height: 7.5em;

a.tile.column
  display: block;

.title
  font-weight: normal;
  font-family: Ubuntu, Sans-Serif;

